config_templates/wsdl/mailService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://mail.javaops.ru/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:common="http://common.javaops.ru/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://mail.javaops.ru/"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/2002/ws/policy/ns/ws-policy"
             name="MailServiceImplService"
             >
    <wsp:Policy wsu:Id="MailServiceImplPortBinding_MTOM_Policy">
        <ns1:OptimizedMimeSerialization
                xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                wsp:Optional="true"/>
    </wsp:Policy>
    <types>
        <xs:schema targetNamespace="http://mail.javaops.ru/">
            <xs:import namespace="http://common.javaops.ru/" schemaLocation="common.xsd"/>

            <xs:element name="sendBulk" type="tns:sendBulk"/>
            <xs:element name="sendBulkResponse" type="tns:sendBulkResponse"/>
            <xs:element name="sendBulkWithAttachment" type="tns:sendBulkWithAttachment"/>
            <xs:element name="sendBulkWithAttachmentResponse" type="tns:sendBulkWithAttachmentResponse"/>
            <xs:element name="sendToGroup" type="tns:sendToGroup"/>
            <xs:element name="sendToGroupResponse" type="tns:sendToGroupResponse"/>
            <xs:element name="sendToGroupWithAttachment" type="tns:sendToGroupWithAttachment"/>
            <xs:element name="sendToGroupWithAttachmentResponse" type="tns:sendToGroupWithAttachmentResponse"/>
            <xs:complexType name="sendBulk">
                <xs:sequence>
                    <xs:element name="to" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="subject" type="xs:string" minOccurs="0"/>
                    <xs:element name="body" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addressee">
                <xs:sequence>
                    <xs:element name="email" type="xs:string" minOccurs="0"/>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendBulkResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:groupResult" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="groupResult">
                <xs:sequence>
                    <xs:element name="failed" type="tns:mailResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="success" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="mailResult">
                <xs:sequence>
                    <xs:element name="email" type="xs:string" minOccurs="0"/>
                    <xs:element name="result" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendToGroupWithAttachment">
                <xs:sequence>
                    <xs:element name="to" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="cc" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="subject" type="xs:string" minOccurs="0"/>
                    <xs:element name="body" type="xs:string" minOccurs="0"/>
                    <xs:element name="filename" type="xs:string" minOccurs="0"/>
                    <xs:element name="attachment" type="xs:base64Binary" nillable="true" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendToGroupWithAttachmentResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendToGroup">
                <xs:sequence>
                    <xs:element name="to" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="cc" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="subject" type="xs:string" minOccurs="0"/>
                    <xs:element name="body" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendToGroupResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendBulkWithAttachment">
                <xs:sequence>
                    <xs:element name="to" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="subject" type="xs:string" minOccurs="0"/>
                    <xs:element name="body" type="xs:string" minOccurs="0"/>
                    <xs:element name="filename" type="xs:string" minOccurs="0"/>
                    <xs:element name="attachment" type="xs:base64Binary" nillable="true" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendBulkWithAttachmentResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:groupResult" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="sendBulk">
        <part name="parameters" element="tns:sendBulk"/>
    </message>
    <message name="sendBulkResponse">
        <part name="parameters" element="tns:sendBulkResponse"/>
    </message>
    <message name="WebStateException">
        <part xmlns:ns2="http://common.javaops.ru/" name="fault" element="ns2:webStateException"/>
    </message>
    <message name="sendBulkWithAttachment">
        <part name="parameters" element="tns:sendBulkWithAttachment"/>
    </message>
    <message name="sendBulkWithAttachmentResponse">
        <part name="parameters" element="tns:sendBulkWithAttachmentResponse"/>
    </message>
    <message name="sendToGroupWithAttachment">
        <part name="parameters" element="tns:sendToGroupWithAttachment"/>
    </message>
    <message name="sendToGroupWithAttachmentResponse">
        <part name="parameters" element="tns:sendToGroupWithAttachmentResponse"/>
    </message>
    <message name="sendToGroup">
        <part name="parameters" element="tns:sendToGroup"/>
    </message>
    <message name="sendToGroupResponse">
        <part name="parameters" element="tns:sendToGroupResponse"/>
    </message>

    <portType name="MailService">
        <operation name="sendBulk">
            <input wsam:Action="http://mail.javaops.ru/MailService/sendBulkRequest" message="tns:sendBulk"/>
            <output wsam:Action="http://mail.javaops.ru/MailService/sendBulkResponse" message="tns:sendBulkResponse"/>
            <fault message="tns:WebStateException" name="WebStateException" wsam:Action="http://mail.javaops.ru/MailService/sendBulk/Fault/WebStateException"/>
        </operation>
        <operation name="sendBulkWithAttachment">
            <input wsam:Action="http://mail.javaops.ru/MailService/sendBulkWithAttachmentRequest" message="tns:sendBulkWithAttachment"/>
            <output wsam:Action="http://mail.javaops.ru/MailService/sendBulkWithAttachmentResponse" message="tns:sendBulkWithAttachmentResponse"/>
            <fault message="tns:WebStateException" name="WebStateException" wsam:Action="http://mail.javaops.ru/MailService/sendBulkWithAttachment/Fault/WebStateException"/>
        </operation>
        <operation name="sendToGroupWithAttachment">
            <input wsam:Action="http://mail.javaops.ru/MailService/sendToGroupWithAttachmentRequest" message="tns:sendToGroupWithAttachment"/>
            <output wsam:Action="http://mail.javaops.ru/MailService/sendToGroupWithAttachmentResponse" message="tns:sendToGroupWithAttachmentResponse"/>
            <fault message="tns:WebStateException" name="WebStateException" wsam:Action="http://mail.javaops.ru/MailService/sendToGroupWithAttachment/Fault/WebStateException"/>
        </operation>
        <operation name="sendToGroup">
            <input wsam:Action="http://mail.javaops.ru/MailService/sendToGroupRequest" message="tns:sendToGroup"/>
            <output wsam:Action="http://mail.javaops.ru/MailService/sendToGroupResponse" message="tns:sendToGroupResponse"/>
            <fault message="tns:WebStateException" name="WebStateException" wsam:Action="http://mail.javaops.ru/MailService/sendToGroup/Fault/WebStateException"/>
        </operation>
    </portType>
    <binding name="MailServiceImplPortBinding" type="tns:MailService">
        <wsp:PolicyReference URI="#MailServiceImplPortBinding_MTOM_Policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="sendBulk">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="WebStateException">
                <soap:fault name="WebStateException" use="literal"/>
            </fault>
        </operation>
        <operation name="sendBulkWithAttachment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="WebStateException">
                <soap:fault name="WebStateException" use="literal"/>
            </fault>
        </operation>
        <operation name="sendToGroupWithAttachment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="WebStateException">
                <soap:fault name="WebStateException" use="literal"/>
            </fault>
        </operation>
        <operation name="sendToGroup">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="WebStateException">
                <soap:fault name="WebStateException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="MailServiceImplService">
        <port name="MailServiceImplPort" binding="tns:MailServiceImplPortBinding">
            <soap:address location="http://localhost:8080/mail/mailService"/>
        </port>
    </service>
</definitions>